<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro</title>
  <link rel="stylesheet" href="/css/login.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet"
href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css ">
</head>
<body>
  
  <header class="main-header">  
    <div class="main-header-top-bar">
      <img src="./images/logo-mercado-liebre.svg" alt="logo" class="logo">
      <div class="placeholder">
        <input type="search" placeholder="Buscar productos, marcas...">
        <div class="fa fa-search search-icon"> 
        </div>
        
      </div>
      <div class="compra-cuenta">
        <li class="fa fa-hand-holding-usd"></li>
        <a>Compra en cuotas y sin tarjeta de crédito</a>
      </div>
    </div>
    <div class="burger-menu">
      <i class="fa fa-bars burger fa-2x"></i>
    </div>

    <nav class="main-navbar">
      <ul class="left-navbar">
        <li> <a href="#">Ofertas</a></li>
        <li> <a href="#">Tiendas Oficiales</a></li>
        <li> <a href="#">Vender</a></li>
        <li> <a href="#">Ayuda</a></li>
      </ul>

      <ul class="right-navbar">
        <li> <a href="./register.html">Crea tu cuenta</a><i class="far fa-id-card"></i></li>
        <li> <a href="#">Ingresa</a><i class="fas fa-sign-in-alt"></i></li>
        <li> <a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
      </ul>
    </nav>
  </header>

  
  <main>
    
    <form action="" method="">
      <div>
        <input class="register-input" type="text" name="nombreUsuario" placeholder="Nombre de usuario">
      </div>
  
      <div>
        <input class="register-input" type="email" name="email" placeholder="Elegí tu contraseña">
      </div>

      <button>Enviar</button>
    </form>
  </main>


  <footer>
    <div>
      <section>
        <i class="fas fa-credit-card fa-2x"></i>
        <h2>Paga con tarjeta o en efectivo</h2>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
      </section>
  
      <section>
        <i class="fas fa-gift fa-2x"></i>
        <h2>Envío gratis desde $ 2.500</h2>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
          productos. Es un beneficio de Mercado Puntos.</p>
      </section>
  
      <section>
        <i class="fas fa-user-shield fa-2x"></i>
        <h2>Seguridad, de principio a fin</h2>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
          porque estás siempre protegid@.</p>
      </section>
    </div>
    

    <section>
      <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
    </section>
  </footer>
  
</body>
</html>