<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro</title>
  <link rel="stylesheet" href="/css/register.css">
</head>
<body>
  
  <h1>Registro</h1>
  <form action="" method="">
    <div>
      <input class="register-input" type="text" name="nombreApellido" placeholder="Nombre y apellido">
    </div>

    <div>
      <input class="register-input" type="text" name="nombreUsuario" placeholder="Nombre de usuario">
    </div>

    <div>
      <input class="register-input" type="email" name="email" placeholder="Email">
    </div>

    <div>
      <label class="subtitle">Fecha de nacimiento</label>
      <input class="register-input" type="date" name="fechaNacimiento">
    </div>

    <div>
      <input class="register-input" type="texto" name="domicilio" placeholder="Domicilio">
    </div>

    <div class="user-profile">
      <label class="subtitle">Perfil del usuario</label>

      <div class="user-profile-buttons">
        <label>
          <input type="radio" name="perfilUsuario">Comprador
        </label>
        <label>
          <input type="radio" name="perfilUsuario">Vendedor
        </label>
      </div>
      
    </div>

    <div class="checkbox">
      <label class="subtitle">Intereses</label>
      <label>
        <input type="checkbox" name="intereses">Electro
      </label>
      <label>
        <input type="checkbox" name="intereses">Moda
      </label>
      <label>
        <input type="checkbox" name="intereses">Hogar
      </label>
      <label>
        <input type="checkbox" name="intereses">Juguetería
      </label>
      <label>
        <input type="checkbox" name="intereses">Vida Sana
      </label>
    </div>
    
    <button>Registrarme</button>
  </form>
  
</body>
</html>