* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #ebebeb;
  width: 100vw;
}

main {
  /* width: 90%; */
  margin: auto;
}

section {
  display: flex;
  flex-wrap: wrap;
}

section h2 {
  width: 100%;
  margin: 20px;
  color: #666;
  font-weight: 700;
}

/* main section article i {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
} */

.logo {
  width: 150px;
  height: auto;
  margin-left: 20px;
}

.placeholder {
  margin-left: 20px;
}

.search-icon {
  background-color: white;
  padding: 1px;
  border: solid 1px black;
  border-radius: 2px;
}

.compra-cuenta {
  text-align: center;
  margin: 10px auto;
}

.compra-cuenta a {
  font-size: 12px;
}

.site li a {
  color: black;
}

.main-navbar {
  display: none;
}
.main-navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-navbar ul li a {
  color: black;
}

.article {
  margin: 0px auto 10px;
  width: 90%;
  position: relative;
}

.description {
  border-top: solid 1px #ebebeb;
  background-color: white;
  padding: 15px;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.truck {
  padding: 5px;
  color: #39b54a;
  border: solid 1px green;
  border-radius: 50%;
  position: absolute;
  top: 310px;
  right: 15px;
}

.discount {
  color: #39b54a;
  margin-left: 10px;
}

.product-name {
  display: unset;
  margin-top: 20px;
  width: 100%;
  color: #666;
}

header {
  background-color: #eac926;
  padding: 20px;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 24px;
}

img {
  width: 100%;
}

p {
  font-size: 12px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

.burger-menu {
  background-color: #1259c3;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin: 20px auto 0px;
}

.burger {
  color: white;
  width: 30px;
  height: 30px;
  padding: 10px;
}

/***********************/
/*Estilos Pie de Pagina*/
/***********************/

footer {
  text-align: center;
  padding: 30px 20px;
}
footer section {
  text-align: center;
  margin: 20px auto;
}

footer section i {
  color: #1259c3;
  margin-bottom: 10px;
}

footer section h2 {
  font-weight: 700;
}

footer section p {
  line-height: 20px;
}

/***********************/
/***Disenio Adaptativo**/
/***********************/

@media (min-width: 576px) {
  section h2 {
    margin: 30px;
  }

  .main-header-top-bar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
  }

  .logo {
    min-width: 20%;
    max-width: 50%;
    margin: 0;
    padding: 10px;
  }

  .placeholder {
    max-width: 50%;
    margin: 0;
    padding: 10px;
  }
  .product-name {
    display: unset;
  }

  .article {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    width: 320px;
    margin: 0px auto 30px;
  }

  .main-navbar {
    display: flex;
    justify-content: space-between;
  }

  .main-navbar ul {
    display: flex;
  }

  .right-navbar li a {
    margin-right: 2px;
  }

  .main-navbar li {
    margin: 0 5px;
  }

  .site {
    display: unset;
  }

  .site li {
    padding-left: 10px;
  }

  .burger-menu {
    display: none;
  }

  .compra-cuenta {
    margin: 0;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 1280px) {
  header {
    padding: 40px;
  }

  .main-navbar li {
    margin: 0 10px;
  }

  .right-navbar li a {
    margin-right: 5px;
  }
}
